/*

Overrides 

*/

* {
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}

body {
	// background-image: url('https://hir.aviontego.com/portals/Style/images/HCmain_bg.jpg');
	background-image: none;
	/*background-color:rgb(77,87,146);*/
	margin: 0px;
	padding: 0px;
	// min-width:900px;
	min-width:100%;
	height: 100%;

	/* scroll bar style --*/
	scrollbar-arrow-color: rgb(255, 134, 47);
	scrollbar-face-color: rgb(255, 219, 169);

	font-family: Calibri;
	font-size: small;
}

#vc-main {
	min-height: 100%;
	// position: relative;
	position: inherit;
	background-color: magenta;
}

#mainContentAll {
	width: 100%;
	background-color: cyan;
}

#mainContentLeft {
	/*float:left;*/
	// width: 98%;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 5px 5px 5px 5px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-left-color: rgb(209, 227, 248);
	border-right-color: rgb(209, 227, 248);
	border-top-color: rgb(209, 227, 248);
	border-bottom-color: rgb(209, 227, 248);
	border-style: solid;

	z-index: 99999999;
	margin-left: auto;
	margin-right: auto;

	/*background-image:url('https://hir.aviontego.com/portals/Style/images/logo.jpg');*/
}



#header_leftImg {
	// position: absolute;
	// float: left;
	// width: 80%;
	// height: 90px;
	// top: 0px;
	// left: 0px;
	// background: url('https://hir.aviontego.com/portals/Style/images/HCtopbar_left.jpg') no-repeat left;
	position: none;
	float: none;
	width: 100%;
	height: 90px;
	top: 0px;
	left: 0px;
	background: url('https://hir.aviontego.com/portals/Style/images/HCtopbar_left.jpg') no-repeat left;
}

#header_logo {
	width: 100%;
	height: 90px;
	position: relative;
	left: 3px;
	top: 0px;
}

/* applicant page without menu, so main content is loaded in center */
.applicant_container {

	width: 100%;
	text-align: inherit;
	// min-width: 915px;
	min-width: 100%;
	margin: 0px;
	background-color: Transparent;
}

.ApplicantUserControl {

	/*width: 100%;
	text-align:center;
	min-height:350px;*/
	// min-width: 300px;
	// max-width: 1200px;
	min-width: 100%;
	max-width: 100%;
	padding: 0px;
	margin: 0px;

}

#applicantCenter {
	position: relative;
	// width: 900px;
	width: 100%;
	text-align: left;
	/*left:50%;
margin-left:-475px;*/
	margin-bottom: 56px;
	padding: 0px 5px 5px 5px;
	// background-color: white;
	min-height: 515px;
	z-index: 99999;
}

// Fix for portal screens so it's not hiding menu
#secondaryNav {
	display: none;
}


#miniFooter {
	// position: relative;
	// width: 900px;
	position: inherit;
	width: 100%;
	text-align: left;
	/*left:50%;
margin-left:-475px;*/
	margin-bottom: 56px;
	padding: 0px 5px 5px 5px;
	background-color: transparent;

	z-index: 99999;

	visibility: hidden;
}

/*

Div resets

*/

* {
	background-image: none;
	background: none;
}

#header {
	background: none;
	background-color: lime;
}
#footer {
	background-color: orange;
}

#vc-main {
	background-color: magenta;
}

div {
	border: 1px solid red;
}