/*---------------------- table Style -------------------------*/
.tbody_background {
  /*background-color: rgb(199, 216, 237);*/
  background-color: Transparent;
}


.table_login {
  background-color: rgb(218, 232, 225);
  border: solid 1px rgb(255, 134, 47);
}

/*orange border*/
.table_outer {
  margin: 5px;

  /*border: solid 1px rgb(255,134,47);*/

}

/*blue outside border, and white border within columns*/
table .table_normal {
  /* border:solid 1px rgb(146,152,231);*/
  border-style: none;
}

/*table in grid template*/
.table_in_grid {
  border: 0px;
}

table .table_title {
  /*background-color:rgb(255,219,169);*/
  text-align: center;
  font-weight: bold;
  background: url(https://hir.aviontego.com/portals/Style/images/title_header.jpg) repeat-x left top;
}

table .table_label {
  text-align: left;
}

table .table_normal td {
  border-bottom: solid 1px Silver;
  border-right: solid 1px Silver;
  padding-left: 5px;

  /*line-height:30px;*/

}

table .table_normal .tr_last {
  border-bottom: 0px;
}

table .table_normal .tr_td_last {
  border-bottom: 0px;
  border-right: 0px;
}

table .table_normal .td_last {
  border-bottom: solid 1px Silver;
  border-right: 0px;
}

.table_with_background {
  border-color: rgb(209, 227, 248);
  border-width: 1px;
  border-style: solid;

  background-image: url(https://hir.aviontego.com/portals/Style/images/webgroupbox.gif');
  background-position: bottom;
  background-repeat: repeat-x;

}


.subhead {
  font-family: Verdana, Arial, sans-serif;
  // font-size: 15px;
  font-weight: bold;
  color: Maroon;
  line-height: 130%;
  height: 21px;

  border-right: 0px;
  /*for table*/
}

.subhead_small {
  font-family: Verdana, Arial, sans-serif;
  // font-size: 13px;
  font-weight: bold;
  color: Maroon;
  // line-height: 130%;
  // height: 21px;
}

.te_status_data {
//  font-size: small;
  // font-family: Calibri;
}

.te_status_header {
  font-weight: bold;
//  font-size: small;
  // font-family: Calibri;
}

.te_grid_header {
  background-image: url(https://hir.aviontego.com/portals/Style/images/webgrid_header_blue_gradient.png);
}

.te_columnHeader {
  color: White;
  // font-size: 12;
  font-weight: bold;
}

.te_row_header {
  color: Maroon;
  // font-size: 11px;
  font-weight: bold;
}

.te_date {
  // font-size: 10px;
}

.te_status_checkbox {}

.te_titleBig {
  color: Maroon;
  // font-size: 14px;
  font-weight: bold;
}