.igtxt_CaribbeanEditWithButtons
{
	background-position:bottom ;
	font-size:10px;
	font-family: Verdana;
	border:solid 1px #052684;
	line-height: 1px;
	height: 20px;
	width: 130px;
}


.igtxt_CaribbeanEdit
{
	background-position:bottom ;
	border:solid 1px #052684;
	outline: 0;
}


.igtxt_CaribbeanEditInContainer
{
	background-color:Transparent;
	border-width:0px;
	margin:0px;
	padding-top:0px;
	padding-bottom:0px;
	outline: 0;
}


.igtxt_CaribbeanButton
{
	background-color:#C1D8E6;
	border:solid 1px #EAF2FB;
	line-height: normal;
}


.igtxt_CaribbeanButtonHover
{
	background-color:#B4B4B4;
	border:solid 1px #ABC1DE;
}


.igtxt_CaribbeanButtonPressed
{
	background-color:#FFA738;
	border:solid 1px #ABC1DE;
}


.igtxt_CaribbeanButtonDisabled
{
	background-color:#EAF2FB;
	border:solid 1px White;
}


.igtxt_CaribbeanButtonSize
{
	width: 15px;
	height: 100%;
}


.igtxt_CaribbeanTextArea
{
	background-position:bottom ;
	background-image: url(images/add_new.gif);
	font-size:12px;
	font-family: arial;
	border:solid 1px #052684;
	outline: 0;
}


.igtxt_CaribbeanButtonFocus
{
	background-color:#F0F0B0;
}


.igtxt_CaribbeanFocus
{
	border-color:#C0C080;
}


