body {
  background-image: url(images/HCmain_bg.jpg);
  /*background-color:rgb(77,87,146);*/
  margin: 0px;
  padding: 0px;
  /*min-width:900px;*/
  height: 100%;

  /* scroll bar style --*/
  scrollbar-arrow-color: rgb(255, 134, 47);
  scrollbar-face-color: rgb(255, 219, 169);

  font-family: Arial, Helvetica, sans-serif !important;
  font-size: large !important;

}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}



.header_logo_style {
  height: 90px;
  border-width: 0px;
  CURSOR: pointer;
}

.header_link_style {
  border-width: 0px;
  CURSOR: pointer;
}

.radio_button_style {
  border: 0px;
}

.checkbox_style {}


.ig_CaribbeanControl {
  font-size: 18px !important;
}


/* end validation summary */